# Сгенерированные картинки (мы их коммитим, в этом весь смысл!)
# *.png   # закомментировано, чтобы разрешить коммитить сгенерированные диаграммы
*.svg
*.eps

# Артефакты macOS
.DS_Store
._*

# Локальные настройки редакторов
.vscode/
.idea/

# Временные файлы PlantUML
*.latex
*.html
*.txt
