# Сгенерированные картинки (если вы не хотите их коммитить)
*.png
*.svg
*.eps

# Артефакты macOS
.DS_Store
._*

# Локальные настройки редакторов
.vscode/
.idea/

# Временные файлы PlantUML
*.latex
*.html
*.txt
